@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    /* Primary: off-white for default theme */
    --primary: 0 0% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 0 0% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 20%;
    --foreground: 0 0% 95%;
    --card: 0 0% 25%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 95%;
    /* Primary: off-white for default theme */
    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 30%;
    --secondary-foreground: 0 0% 95%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 30%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 0 0% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
